.aboutSnippet a {
	background-color: #fff;
	padding: 10px 50px;
	display: block;
	width: 130px;
	text-align: center;
	margin: 30px auto 0 auto;
	border-radius: 3px;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: $blue;
	font-weight: 300;

}

.aboutSnippet p {
	margin-top: 0;
	color: #fff;
	padding: 0 10% 30px 10%;
	text-align: right;
	line-height: 1.8;
	font-weight: 300;
	font-size: 1.1em;
	background-color: $blue;

}
.aboutH4 {
	font-size: 1.5em;
	color: $blue;
	text-align: center;
}

.impact .button {
	background-color: $blue;
	padding: 15px 50px;
	display: block;
	text-align: center;
	margin: 3em auto 6em auto;
	border-radius: 3px;
	letter-spacing: 1px;
	text-transform: uppercase;

}

.impact p {
	text-align: left;
	font-size: 1.1em;
	font-weight: 300;
	line-height: 1.7;
}
.help .button {
	background-color: $blue;
	padding: 15px 50px;
	display: block;
	text-align: center;
	margin: 3em auto 6em auto;
	border-radius: 3px;
	letter-spacing: 1px;
	text-transform: uppercase;

}

.help p {
	text-align: left;
	font-size: 1.1em;
	font-weight: 300;
	line-height: 1.7;
}


