footer {
	background-color: #e8e8e8;
	margin-top: 60px;
	padding: 20px;
	padding-top: 50px;

	h2 {
		margin: 0;
	}	

	a {
		font-size: .8em;
		color: #888;
	}

	p {
		font-size: .85em;
		color: #888;
	}

	ul {
		margin: 0 auto;
		margin-bottom: 2em;
	}
}

.colWrap {
	margin: 0 auto;
}
.footerCol {
	display: block;
	text-align: center;
	font-weight: 300;
}

.address {
	text-align: center;
	font-size: .8em;
	font-weight: 300;
	letter-spacing: 1px;
	display: block;
	clear: both;
	padding-top: 60px;
	border-top: 1px solid #999;
}

.copyright {
	text-align: center;
	margin-top: 30px;
	font-size: .8em;
}