.overlay h2 {
	background-color: $blue;
	font-size: 2em;
	font-weight: 100;
	text-align: right;
	padding: 30px 10%;
	margin: 0;
	line-height: 1.3;
}


.marketingMobile {
	background: url(../images/homemarket.jpg) no-repeat; 
	background-position: right;
	background-size: cover;
	height: 300px;
	padding: 0;
	margin: 0;
}


.marketingLower {
	background-color: $blue;
	position: relative;

}
.marketingLower p {
	color: #fff;
	padding: 30px 10%;
	text-align: right;
	font-size: 1.5em;
	letter-spacing: 1px;
	margin: 0;
}

.marketingLower a { 
	background-color: #1d7fc5;
	padding: 15px 50px;
	display: inline-block;
	float: right;
	text-align: center;
	margin-right: 10%;
	margin-bottom: 30px;
	border-radius: 3px;
	letter-spacing: 1px;
	text-transform: uppercase;
	
}