
ul {
	padding-left: 0;
	margin: 40px 7%;
}
nav .button {
	background-color: $blue;
	padding-top: 15px;
	padding-bottom: 15px;
	display: block;
	border-radius: 3px;
	text-align: center;

}

li {
	margin-bottom: 8px;
	padding-left: 0;

}